<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rescue Turtle Control</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body onload="javascript:mc_init()">
        <a class="action-button shadow animate blue unselectable" onmousedown='move(this)' onmouseup='stop()' id="FWD">FORWARD</a>


        <div id="joystick-R"></div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.10.2/nipplejs.js" integrity="sha512-WkQoRWCoNX6HLaYdCCKUS3QfVk6Yk3U7gTgX22yil7QY91pFsBFzTVjhdbXoOLayLHeTre5sZNchk/5SO7FNdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function mc_init(){
                socket = io.connect('http://'+document.domain+':'+location.port);
                socket.on('rsp', function(data){
                    console.log(data['status']);
                });
            }
            function move(btn){
                socket.emit('req', {'direction': btn.id, 'speed': '100'});
                return false;
            }
            function stop(){
                socket.emit('req', {'direction': 'STOP', 'speed': '0'});
                return false;
            }
        </script>
        <script>
            var joyR = nipplejs.create({
                zone: document.getElementById('joystick-R'),
                mode: 'static',
                position: {right: '10rem', bottom: '10rem'},
                color: 'white',
                size: 120,
            });
        </script>
    </body>
</html>